:root {
    --cor-bg: #4C3527;
    --cor-bg2: #684f36;
    --cor-primaria: #ede6d9;
    --cor-secundaria: #b39977;

    --font-primaria: "Poppins", Arial, sans-serif;
    --font-secundaria: "Josefin Sans", sans-serif;
    --font-terciaria: "Great Vibes", cursive;

}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


.navbar {
    background-color: #09070A;
    color: var(--cor-primaria);
    padding: 0.70rem;
    position: relative; 
}

.logo {
    margin-left: 5vw;
}


.logo img {
    max-height: 50px;
    height: auto;
    width: auto;
    padding-left: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--cor-primaria);
    font-family: inherit;
}

.texto-logo {
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-transform: uppercase;
}

.texto-logo strong {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-primaria);
}

.texto-logo small {
    font-size: 0.80rem;
    font-weight: 300;
    letter-spacing: 3px;
}


.container-menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.navbar-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #09070A;
    z-index: 1000;
    padding: 20px 0;
    margin-top: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); 
}

.navbar-menu a {
    padding: 8px;
    color: var(--cor-primaria);
    font-size: 0.80rem;
    font-weight: 400;
    transition: color 0.3s ease;
    font-family: var(--font-primaria);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-menu li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-menu a:hover {
    color: var(--cor-secundaria);
}


.navbar-menu.open {
    display: flex;
    padding-top: 15px;
}

.menu-toggle {
    background: none;
    border: none;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    z-index: 10;
    margin-right: 5vw;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px 9px 5px 0px;
    background-color: var(--cor-primaria);
    transition: all 0.3s ease;
}


@media (min-width: 992px) {
    .navbar {
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
    } 

    .navbar-menu {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
        margin-top: 0;
        width: auto;
        position: static; 
        height: auto; 
        background-color: transparent; 
    }

    .container-menu {
        flex-direction: row;
    }

    .logo img {
        padding: 10px 0px 10px 10px;
    }

    .menu-toggle {
        display: none;
    }

}






/* Header */


header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpg) no-repeat center 30%/cover;
    height: 100vh;
    max-height: 750px;
    position: relative;
    overflow: hidden;
}

.welcome {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor-primaria);
    margin-top: 9rem;
    max-width: 100%;
    overflow-x: hidden;
}

.welcome-content {
    max-width: 800px;
    width: 100%;
    letter-spacing: 1px;
    padding: 0 20px;
}

.welcome h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--font-terciaria);
    font-weight: 400;
}

.welcome h1 strong {
    display: block;
    font-size: 3rem;
    padding: 30px 0;
    font-family: var(--font-secundaria);
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--cor-secundaria);
}

.welcome p {
    font-size: 0.8rem;
    font-family: var(--font-primaria);
    font-weight: 400;
    margin-bottom: 2rem;
}

.btn-visitar {
    display: inline-block;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s;
    border: 2px solid var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 0.8rem;
}

.btn-visitar:hover {
    background-color: transparent;
}



@media (min-width: 992px) {
    .welcome {
        margin-top: 8rem;
    }

    .welcome p {
        font-size: 1rem;
    }
}





/* Sobre */


.sobre {
    background-color: var(--cor-bg);
    padding: 80px 0 0 0;
    position: relative;
    overflow: hidden;
}

.sobre::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30%;
    background: url(../img/bg-sob.png) no-repeat right top/contain;
    background-size: cover;
    opacity: 0.3;
    z-index: 0;
}

.sobre-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: var(--cor-bg2);
}

.sobre-texto {
    order: 2;
    padding: 30px 20px;
    color: var(--cor-primaria);
    text-align: start;
}

.sobre h1 {
    font-family: var(--font-secundaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
    text-align: start;
    padding-left: 20px;
}

.sobre-texto p {
    font-family: var(--font-primaria);
    line-height: 1.8;
    margin-bottom: 15px;
}

.sobre-imagem {
    order: 1;
    margin-bottom: 20px;
    width: 100vw;
    flex: 0 0 auto;
}

.sobre-imagem img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


@media (min-width: 768px) {
    .sobre {
        padding: 80px 0;
    }
    
    .sobre::before {
        width: 70%;
        height: 100%;
    }
    
    .sobre-container {
        max-width: 800px;
        min-height: 400px;
        padding: 0 0 0 20px;
        flex-direction: row;
        align-items: stretch;
        border: 2px solid black;
    }
    
    .sobre-texto {
        flex: 1;
        order: initial;
        padding: 30px;
        padding-right: 40px;
        text-align: center;
    }
    
    .sobre h1 {
        text-align: center;
        padding-left: 0;
    }
    
    .sobre-imagem {
        flex: 0 1 320px;
        order: initial;
        margin-bottom: 0;
        width: auto;
        align-self: stretch;
        height: 100%;
    }
    
    .sobre-imagem img {
        max-width: 100%;
        height: 100%;
        max-height: none;
        border-radius: 0;
    }
}


@media (max-width: 390px) {
    .sobre::before {
        max-width: 100%;
        height: 15%;
    }

    .sobre h1 {
        font-size: 2.2rem;
    }
}


@media (max-width: 300px) {
    .sobre {
        padding: 40px 0;
    }

    .sobre::before {
       display: none;
    }

    .sobre h1 {
        text-align: center;
    }
}






/* Cardápio */

.cardapio {
    background: url(../img/bg_4.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px 20px;
    overflow: hidden;
    color: var(--cor-primaria);
}

.cardapio h1 {
    font-family: var(--font-secundaria);
    font-size: 2rem;
    color: var(--cor-secundaria);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.cardapio h1::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

.cardapio-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px 0 0 0;
}

.item {
    margin: 0 auto;
}

.item-img {
    height: 150px;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-texto {
    font-family: var(--font-primaria);
    font-size: 0.9rem;
    text-align: center;
}

.ver-cardapio {
    text-align: center;
    margin-top: 30px;
}

.ver-cardapio a {
    display: inline-block;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 0.85rem;
    text-decoration: none;
}

.item:nth-child(n+7) {
    display: none;
}






@media (max-width: 374px) {
    .item:nth-child(n+5) {
        display: none;
    }

    .cardapio-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}


@media (min-width: 480px) {
    .ver-cardapio a {
        padding: 12px 30px;
        font-size: 0.85rem;
    }
}


@media (min-width: 680px) {
    .item:nth-child(n+7) {
        display: block;
    }
    
    .cardapio-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding-top: 30px;
    }
}


@media (min-width: 768px) {
    .cardapio {
        padding: 80px 0;
        background-attachment: fixed;
    }
    
    .cardapio h1 {
        font-size: 2.5rem;
        margin-bottom: 50px;
    }

    .cardapio-container {
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        padding-top: 40px;
    }
    
    .item-img {
        height: 200px;
    }
    

    .item-img img {
        transition: transform 0.5s ease;
    }
    
    .item:hover .item-img img {
        transform: scale(1.05);
    }

    .ver-cardapio {
        margin-top: 50px;
    }
    
    .ver-cardapio a {
        transition: all 0.3s;
    }
    
    .ver-cardapio a:hover {
        background-color: transparent;
        color: var(--cor-secundaria);
    }
}

