:root {
    --cor-bg: #4C3527;
    --cor-bg2: #684f36;
    --cor-primaria: #ede6d9;
    --cor-secundaria: #b39977;

    --font-primaria: "Poppins", Arial, sans-serif;
    --font-secundaria: "Josefin Sans", sans-serif;
    --font-terciaria: "Great Vibes", cursive;

}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background-color: black;
    transition: all 0.3s ease;
    padding: 0.70rem 0;
}

.navbar.scrolled {
    background-color: #09070A !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    margin-left: 5vw;
}


.logo img {
    max-height: 50px;
    height: auto;
    width: auto;
    padding-left: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--cor-primaria);
    font-family: inherit;
}

.texto-logo {
    display: flex;
    flex-direction: column;
    line-height: 1;
    text-transform: uppercase;
}

.texto-logo strong {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-primaria);
}

.texto-logo small {
    font-size: 0.80rem;
    font-weight: 300;
    letter-spacing: 3px;
}


.container-menu {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.navbar-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #09070A;
    z-index: 1000;
    padding: 20px 0;
    margin-top: 0;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 0;
}

.navbar-menu a {
    padding: 8px;
    color: var(--cor-primaria);
    font-size: 0.80rem;
    font-weight: 400;
    transition: color 0.3s ease;
    font-family: var(--font-primaria);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-menu li {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-menu a:hover {
    color: var(--cor-secundaria);
}


.navbar-menu.open {
    display: flex;
    padding-top: 15px;
    max-height: 500px;
    opacity: 1;
}

.menu-toggle {
    background: none;
    border: none;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    z-index: 10;
    margin-right: 5vw;
    transition: transform 0.3s ease;
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    margin: 5px 9px 5px 0px;
    background-color: var(--cor-primaria);
    transition: all 0.3s ease;
}



.menu-toggle.active {
    transform: rotate(90deg);
}


.menu-toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}




@media (min-width: 992px) {
    .navbar {
        background-color: transparent;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .navbar-menu {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
        margin-top: 0;
        width: auto;
        position: static;
        height: auto;
        background-color: transparent;
        opacity: 1;
        background-color: transparent;
    }

    .container-menu {
        flex-direction: row;
    }

    .logo img {
        padding: 10px 0px 10px 10px;
    }

    .menu-toggle {
        display: none;
    }

}






/* Header */


header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header.jpg) no-repeat center 30%/cover;
    background-attachment: fixed;
    height: 100vh;
    max-height: 750px;
    position: relative;
    overflow: hidden;
}

.welcome {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--cor-primaria);
    margin-top: 12rem;
    max-width: 100%;
    overflow-x: hidden;
}

.welcome-content {
    max-width: 800px;
    width: 100%;
    letter-spacing: 1px;
    padding: 0 20px;
}

.welcome h1 {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--font-terciaria);
    font-weight: 400;
}

.welcome h1 strong {
    display: block;
    font-size: 3rem;
    padding: 30px 0;
    font-family: var(--font-secundaria);
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--cor-secundaria);
}

.welcome p {
    font-size: 0.8rem;
    font-family: var(--font-primaria);
    font-weight: 400;
    margin-bottom: 2rem;
}

.btn-visitar {
    display: inline-block;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s;
    border: 2px solid var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 0.8rem;
}

.btn-visitar:hover {
    background-color: transparent;
}



@media (min-width: 992px) {
    .welcome {
        margin-top: 13rem;
    }

    .welcome p {
        font-size: 1rem;
    }
}





/* Sobre */


.sobre {
    background-color: var(--cor-bg);
    padding: 40px 0 0 0;
    position: relative;
    overflow: hidden;
}

.sobre::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30%;
    background: url(../img/bg-sob.png) no-repeat right top/contain;
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
}

.sobre-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background-color: var(--cor-bg2);
}

.sobre-texto {
    order: 2;
    padding: 30px 20px;
    color: var(--cor-primaria);
    text-align: start;
}

.sobre h1 {
    font-family: var(--font-secundaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
    text-align: start;
    padding-left: 20px;
}

.sobre-texto p {
    font-family: var(--font-primaria);
    font-size: .95rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.sobre-imagem {
    order: 1;
    margin-bottom: 20px;
    width: 100vw;
    flex: 0 0 auto;
}

.sobre-imagem img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    display: block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}


@media (min-width: 768px) {
    .sobre {
        padding: 80px 0;
    }

    .sobre::before {
        width: 70%;
        height: 100%;
    }

    .sobre-container {
        display: flex;
        max-width: 800px;
        height: 585px;
        padding: 0 0 0 20px;
        flex-direction: row;
        align-items: stretch;
        border: 2px solid black;
    }

    .sobre-texto {
        flex: 1;
        order: initial;
        padding: 30px;
        padding-right: 40px;
        text-align: left;
    }

    .sobre h1 {
        text-align: center;
        padding-left: 0;
    }

    .sobre-imagem {
        flex: 1;
        order: initial;
        margin-bottom: 0;
        width: auto;
        align-self: stretch;
        height: 100%;
    }

    .sobre-imagem img {
        max-width: 100%;
        height: 100%;
        max-height: none;
        border-radius: 0;
        object-fit: cover;
    }
}


@media (max-width: 390px) {
    .sobre::before {
        max-width: 100%;
        height: 15%;
    }

    .sobre h1 {
        font-size: 2.2rem;
    }
}


@media (max-width: 300px) {
    .sobre {
        padding: 40px 0;
    }

    .sobre::before {
        display: none;
    }

    .sobre h1 {
        text-align: center;
    }
}






/* Cardápio */

.cardapio {
    background: url(../img/bg_4.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px 20px;
    overflow: hidden;
    color: var(--cor-primaria);
}

.cardapio h1 {
    font-family: var(--font-secundaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.cardapio h1::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

.cardapio-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 20px 0 0 0;
}

.item {
    margin: 0 auto;
    padding-bottom: 30px;
}

.item-img {
    height: 150px;
    overflow: hidden;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-texto {
    font-family: var(--font-primaria);
    font-size: 0.9rem;
    text-align: center;
}

.ver-cardapio {
    text-align: center;
    margin-top: 30px;
}

.ver-cardapio a {
    display: inline-block;
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 600;
    border: 2px solid var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 0.85rem;
    text-decoration: none;
}

.item:nth-child(n+7) {
    display: none;
}





@media (max-width: 390px) {

    .cardapio h1 {
        font-size: 2.2rem;
    }
}


@media (max-width: 374px) {
    .item:nth-child(n+5) {
        display: none;
    }

    .cardapio-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}


@media (min-width: 480px) {
    .ver-cardapio a {
        padding: 12px 30px;
        font-size: 0.85rem;
    }
}


@media (min-width: 680px) {
    .item:nth-child(n+7) {
        display: block;
    }

    .cardapio-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        padding-top: 30px;
    }
}


@media (min-width: 768px) {
    .cardapio {
        padding: 80px 0;
        background-attachment: fixed;
    }

    .cardapio h1 {
        margin-bottom: 50px;
    }

    .cardapio-container {
        max-width: 1200px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        padding-top: 40px;
    }

    .item-img {
        height: 200px;
    }


    .item-img img {
        transition: transform 0.5s ease;
    }

    .item:hover .item-img img {
        transform: scale(1.05);
    }

    .ver-cardapio {
        margin-top: 50px;
    }

    .ver-cardapio a {
        transition: all 0.3s;
    }

    .ver-cardapio a:hover {
        background-color: transparent;
        color: var(--cor-secundaria);
    }
}







/* Depoimentos */


.depoimentos {
    background-color: var(--cor-bg);
    padding: 40px 0 20px 0;
    position: relative;
    overflow: hidden;
}

.depoimentos::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30%;
    background: url(../img/bg-sob.png) no-repeat right top/contain;
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
}


.depoimentos h1 {
    font-family: var(--font-secundaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
    text-align: start;
    margin-bottom: 10px;
    padding-left: 20px;
}

.depoimentos-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    max-width: 90%;
    gap: 15px;
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
}

.card-depoimento {
    background-color: var(--cor-bg2);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-left: 4px solid var(--cor-secundaria);
}


.card-depoimento::before {
    content: '"';
    position: absolute;
    top: 10px;
    left: 2px;
    font-family: serif;
    font-size: 3rem;
    color: var(--cor-secundaria);
    opacity: 0.3;
    z-index: 0;
}

.texto-depoimento {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 0.9rem;
}

.autor-depoimento {
    display: block;
    font-size: 0.9rem;
    text-align: right;
}



@media (min-width: 768px) {
    .depoimentos {
        padding: 80px 0 40px 0;
    }

    .depoimentos::before {
        width: 70%;
        height: 100%;
    }

    .depoimentos h1 {
        text-align: center;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .depoimentos-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 30px;
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
    }

    .card-depoimento {
        max-width: 250px;
        transition: transform 0.3s ease;
    }

    .card-depoimento:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .texto-depoimento {
        font-size: 1.2rem;
        line-height: 1.8;
    }

}


@media (max-width: 900px) {
    .depoimentos::before {
        max-width: 100%;
        height: 75%;
    }

}

@media (max-width: 600px) {
    .depoimentos::before {
        max-width: 100%;
        height: 55%;
    }

}


@media (max-width: 390px) {
    .depoimentos::before {
        max-width: 100%;
        height: 15%;
    }

    .depoimentos h1 {
        font-size: 2.2rem;
    }
}


@media (max-width: 300px) {
    .depoimentos {
        padding: 40px 0;
    }

    .depoimentos::before {
        display: none;
    }

    .depoimentos h1 {
        text-align: center;
    }
}







/* Contatos */

.contato {
    background: url(../img/bg_4.jpg) no-repeat center center;
    background-size: cover;
    padding: 40px 20px;
    overflow: hidden;
    color: var(--cor-primaria);
}

.contato h1 {
    font-family: var(--font-secundaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.contato h1::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 3px;
    background-color: var(--cor-secundaria);
}

.contato-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.contato-mapa {
    order: 2;
    margin-top: 30px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.contato-mapa iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.contato-info h2 {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    margin-bottom: 20px;
}


.info-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.info-item a {
    color: var(--cor-primaria);
    font-family: var(--font-primaria);
    padding: 8px 12px 8px 0;
    display: flex;
    width: max-content;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.info-item a:hover {
    color: var(--cor-secundaria);
    transform: translateX(5px);
}

.info-item .fab,
.info-item .fas {
    font-size: 1.2rem;
    color: var(--cor-secundaria);
    width: 24px;
    text-align: center;
    transition: transform 0.3s;
}

.info-item a:hover .fab,
.info-item a:hover .fas {
    transform: scale(1.2);
}

.info-item a[href*="maps"] {
    white-space: normal;
    max-width: 100%;
    word-break: break-word;
    align-items: flex-start;
}

.info-item a[href*="maps"] i {
    margin-top: 3px;
}


.horario {
    font-family: var(--font-primaria);
}

.horario h2 {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    margin-bottom: 15px;
}

.horario p {
    margin-bottom: 8px;
}

.horario strong {
    color: var(--cor-secundaria);
    font-weight: 600;
}




@media (min-width: 768px) {
    .contato {
        padding: 80px 20px;
        background-attachment: fixed;

    }

    .contato h1 {
        margin-bottom: 40px;
    }

    .contato-container {
        flex-direction: row;
        gap: 40px;
    }

    .contato-mapa {
        order: 1;
        flex: 1;
        height: 300px;
        margin-top: 0;
    }

    .contato-info {
        order: 2;
        flex: 1;
        margin-left: 80px;
    }

    .info-item {
        gap: 5px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }
}


@media (max-width: 960px) {
    .contato-info {
        margin-left: 30px;
    }
}

@media (max-width: 390px) {

    .contato h1 {
        font-size: 2.2rem;
    }
}










/* Curiosidades */

.curiosidades {
    background-color: var(--cor-bg);
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
    padding: 40px 0 20px 0;
    position: relative;
    overflow: hidden;
}

.curiosidades::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30%;
    background: url(../img/bg-sob.png) no-repeat right top/contain;
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
}


.curiosidades h1 {
    font-family: var(--font-secundaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
    text-align: start;
    margin-bottom: 20px;
    padding-left: 20px;
}


.curiosidades-container {
    max-width: 1200px;
    margin: 0 auto;
}



.timeline {
    position: relative;
    margin-bottom: 50px;
    padding-left: 30px;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 3px;
    height: 100%;
    background: var(--cor-secundaria);
}

.momento {
    position: relative;
    margin-bottom: 30px;
}

.ano {
    width: 70px;
    height: 70px;
    background: transparent;
    color: var(--cor-primaria);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-secundaria);
    font-size: 1.1rem;
    font-weight: 400;
    position: absolute;
    left: -20px;
    top: 0;
    z-index: 2;
}

.conteudo {
    background: var(--cor-bg2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    margin-left: 40px;
    width: 70%;
}

.conteudo h2 {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    margin-bottom: 10px;
    font-size: 1.3rem;
}


.beneficios {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.beneficio-card {
    background: var(--cor-bg2);
    padding: 25px 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.beneficio-card i {
    font-size: 2rem;
    color: var(--cor-secundaria);
    margin-bottom: 15px;
}

.beneficio-card h2 {
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.beneficio-card p {
    font-size: .8rem;
}

.quebrar-palavra {
    overflow-wrap: break-word;
    hyphens: auto;
}


@media (min-width: 768px) {
    .curiosidades {
        padding: 80px 40px;
    }

    .curiosidades::before {
        width: 40%;
        height: 50%;
    }

    .curiosidades h1 {
        margin-bottom: 60px;
        text-align: center;
    }


    .timeline {
        max-width: 1000px;
        margin: 60px auto;
        padding-left: 0;
    }

    .timeline::before {
        left: 15%;
        transform: translateX(-50%);
    }


    .momento {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 40px;
    }


    .ano {
        width: 100px;
        height: 100px;
        position: static;
        box-shadow: 0 0 0 8px var(--cor-bg2);
        background: var(--cor-bg);
        color: var(--cor-primaria);
        border-radius: 50%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        margin-left: 0;
        margin-top: 10px;
    }

    .conteudo {
        width: 70%;
        margin: 0;
        margin-left: 10%;
    }


    .conteudo h2 {
        color: var(--cor-secundaria);
        font-family: var(--font-secundaria);
        margin-bottom: 10px;
    }

    .beneficios {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        max-width: 1000px;
        margin: 0 auto;
    }

    .beneficio-card {
        background: var(--cor-bg2);
        padding: 30px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    .beneficio-card:hover {
        transform: translateY(-10px);
    }

    .beneficio-card i {
        font-size: 2.5rem;
        color: var(--cor-secundaria);
        margin-bottom: 20px;
    }

    .beneficio-card h2 {
        color: var(--cor-secundaria);
        font-family: var(--font-secundaria);
        margin-bottom: 15px;
    }

    .beneficio-card p {
        font-size: 1rem;
    }

}


@media (max-width: 590px) {
    .curiosidades::before {
        max-width: 80%;
        height: 25%;
    }

}

@media (max-width: 415px) {
    .curiosidades::before {
        max-width: 80%;
        height: 15%;
    }

}

@media (max-width: 390px) {

    .curiosidades h1 {
        font-size: 2.2rem;
    }
}


@media (max-width: 300px) {

    .curiosidades::before {
        display: none;
    }

    .curiosidades h1 {
        text-align: center;
    }
}




/* Footer */

footer {
    background-color: #342519;
    padding: 20px;
    text-align: center;
}

.footer-container p {
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
    font-size: 0.9rem;
    line-height: 1.6;
    margin: 0;
}







/* ANIMAÇÕES PARA ITENS */
[data-anime] {
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

[data-anime="left"] {
    transform: translateX(-50px);
}

[data-anime="right"] {
    transform: translateX(50px);
}

[data-anime="top"] {
    transform: translateY(-50px);
}

[data-anime="bottom"] {
    transform: translateY(50px);
}

[data-anime].animate {
    opacity: 1;
    transform: translate(0, 0) !important;
}